@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap');

/* 定義顏色地圖 */



:root {
    --color-black: #202020;
    --color-box_bg: #E4E4E4;
}

button {
    background: transparent;
    /* 變成透明背景 */
    border: none;
    /* 移除邊框 */
    padding: 0;
    /* 移除內距 */
    cursor: pointer;
    display: flex;
    /* 確保圖片置中 */
    align-items: center;
    cursor: pointer;
}

button img {
    width: 100%;
    display: block;
}

#my-floating-box {
    font-size: 13px;
    font-weight: 400;
    position: fixed;
    width: 300px !important;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background: #E4E4E4 !important;
    padding: 15px;
    border: 1.5px solid #202020 !important;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Noto Sans Mono', 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#my-floating-box button {
    cursor: pointer;
}

.tit button {
    width: 19.56px !important;
    height: 19.54px !important;
}

.tit button img {
    display: block;
    width: 100%;
    /* 防止圖片下方出現多餘空隙 */
}

.tit {
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    justify-content: space-between;
    font-size: 28px !important;
    color: var(--color-black);
}

.input-group {
    display: flex;
    justify-content: space-between;
    /* gap: 9px; */
}

.input-group input {
    border: 1.5px #202020 solid;
    border-radius: 15px;
    padding: 5px 10px;
    width: 222px;
    font-family: 'Noto Sans Mono', monospace;
}

.input-group button {
    width: 29px;
    height: 29px;
}

.btn-group {
    display: flex !important;
    justify-content: space-between;
}

.saveBtn {
    display: flex !important;
    background-color: #FE7023;
    border-radius: 15px;
    font-family: 'Noto Sans Mono', monospace;
    /* padding: 5px; */
    font-style: 14px;
    width: 124px;
    height: 27px;
    justify-content: center;
    gap: 10px;
    transition: 0.2s;
}

.saveBtn img {
    width: 17px;
    display: block;
}

.saveBtn:hover {
    font-size: 16px;
    opacity: 0.9;
    /* 讓圖片變透明 */
    transition: 0.2s;
    /* 讓變化過程平滑 */
}
.saved {
    opacity: 0.7;
    font-size: 13px;
}
.saved:hover {
    opacity: 0.7;
    font-size: 13px;
}

.viewFavBtn {
    background-color: #202020;
    color: #fff;
}

/* -------翻譯區塊---------- */
#resultArea {
    border: 1.5px #202020 solid;
    border-radius: 15px;
    padding: 5px 10px;
    width: 100%;
    font-family: 'Noto Sans Mono', monospace;
    min-height: 75px;
    max-height: 200px;
    overflow-y: auto;
    background: #f9f9f9;
    scrollbar-width: thin; 
    /* font-size: 13px; */
}
.translate {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    text-align: left;
}
.vocab {
    color: #d35400;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}


/* -------彈窗---------- */
#fav-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#containar {
    background: #F5F69D;
    border: 1.5px #202020 solid;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    /* min-height: 400px; */
    max-height: 80vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.voc_list {
    max-height: 55vh;
    overflow-y: auto;
    min-height: 100px;
    scrollbar-width: thin; /* 針對 Firefox 的簡潔滾動條 */
    margin: 15px 0 15px;
    
}
.voc_list_ul {
    list-style: none; 
    padding: 0; 
    margin: 15px 0 15px;
}
.voc_list_li {
    display: flex !important;
    justify-content: space-between !important;
    padding: 8px 10px;
    border-bottom: 1px dotted #AEAEAE;
    font-family: 'Noto Sans Mono', monospace;
    ;
}

.voc_list_li img {
    width: 15px;
    display: block;
}

.downloadBtn {
    background-color: #202020;
    color: #fff;
    width: 80px;
    padding: 0 10px;
}

.clearBtn {
    margin-top: 8px;
    background-color: transparent;
    border: 1.5px #202020 solid;
    width: 100%;
}
.favBtn {
    background-color: #F5F69D;
    position: fixed;
}